.formWrapper{
    border-radius: 20px;
    width: 45%;
    margin: 45px auto;
    text-align: center;
    padding: 56px 0px;
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}

.formImg{
    width: 30%;
    height: 30%;
    margin-bottom: 20px;
}

.formTitle{
    font-weight: 700;
    color: #444;
    margin-bottom: 36px;
    margin-top: 0px;
    font-size: 36px;
}

.inputWrapper{
    position: relative;
    width: 70%;
    margin: 0px auto;
}

.formInput{
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px;
    height: 26px;
    background-color: lightgray;
}

.icon{
    position: absolute;
    right: 5px;
    top: 7px;
}

.formBtn{
    width: 60%;
    height: 30px;
    border-radius: 20px;
    color: white;
    background-color: #444;
    cursor: pointer;
    border: none;
    font-weight: 700;
    margin-top: 20px;
    font-size: 17px;
    margin-bottom: 20px;
}

.link{
    display: block;
    color: #444;
    padding: 0px 20px;
}

@media (max-width: 900px) {
    .formWrapper {
        width: 55%;
    }
}

@media (max-width: 650px){
    .formWrapper {
        width: 60%;
    }
}

@media (max-width: 499px){
    .link {
        font-size: 14px;
    }
}

@media (max-width: 445px){
    .link {
        font-size: 12px;
    }
}

@media (max-width: 391px){
    .link {
        font-size: 10px;
    }
}